/*
* byMeh V1.0.0
* Copyright 2022, Mehluli Hikwa
* https://thatafro.netlify.app/
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 13/07/2022
*/



/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid Blocks
- Grid Responsive - Flexbox
- Media Queries
*/



// 
// Grid Blocks
// 
.container {
	position: relative;
	width: 95%;
	max-width: 1140px;
	margin: 0 auto;
	box-sizing: border-box;

	&::after{
		content: "";
		display: table;
		clear: both;
	}
}

.column {
	width: 100%;
	float: left;
	box-sizing: border-box;
}

// For devices larger than 767px
@media (min-width: 767px) {
	.column {
		margin-left: 4%;
	}

	.column:first-child {
		margin-left: 0;
	}

	.third.column {
		width: 30.6666666667%;
	}

	.two-thirds.column {
		width: 65.3333333333%;
	}

	.half.column {
		width: 48%;
	}
}



// 
//
// Grid Section - Flexbox
// 
//

.grid-section {
	position: relative;
	width: 95%;
	max-width: 1140px;
	margin: 0 auto;
	box-sizing: border-box;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.half,
	.third,
	.quarter {
		// border: 1px solid black;
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
		transition: all 0.5s;	
	}

	.half {
		flex: 0 1 calc(50% - 1em);
	}
	
	.third {
		flex: 0 1 calc(33% - 1em);
	}
	
	.quarter {
		flex: 0 1 calc(25% - 1em);
	}
}

// For devices smaller than 767px
@media (max-width: 767px) {
    .grid-section {
		.half {
			flex: 0 1 calc(50% - .5em);
		}
		.third {
			flex: 0 1 calc(50% - .5em);
		}
		.quarter {
			flex: 0 1 calc(50% - .5em);
		}
    }
}

@media (max-width: 550px) {
    .grid-section {
		justify-content: space-evenly;

		.half,
		.third,
		.quarter {
			flex: 0 1 calc(100% - 0em);
		}
    }
}



// 
//
// Grid Illustration
// 
//

.grid-illustration {
	background-color: var(--grey);
	border-radius: 5px;
	width: 100%;
	height: 40px;

	div {
		padding: 10px 0 0 10px;
	}
}



// 
//
// Media Queries
// 
//

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}